<h1><div class="saisho">
  <%= I18n.t('janken.aiko.title')%>
</h1></div>

<div class="btn-group">
<%= link_to content_tag(:i, '', class: 'fas fa-hand-rock'), pon_path(choice: 'rock'), remote: true %>
<%= link_to content_tag(:i, '', class: 'fas fa-hand-scissors'), pon_path(choice: 'scissors'), remote: true %>
<%= link_to content_tag(:i, '', class: 'fas fa-hand-paper'), pon_path(choice: 'paper'), remote: true %>
</div>
