<div class="choice">あなたの選択: <%= @user_icon&.html_safe %></div>
<div class="choice">CPUの選択: <%= @cpu_icon&.html_safe %></div>

<% if @user_choice == @cpu_choice %>
  <%= link_to 'あいこ！', aiko_path, method: :post, remote: true, class: 'btn btn-info btn-aiko' %>
<% else %>
  <%= link_to 'あっち向いて！', game_atti_path, method: :post, remote: true, class: 'btn btn-info btn-atti' %>
<% end %>
