<h1><div class="saisho">
  <%= I18n.t('janken.saisho.title') %>
</div></h1>
<div class="btn-saisho">
<%= link_to I18n.t('janken.guu.title'), janken_path, remote: true, class: 'btn btn-info btn-guu' %>
</div>
