<h1><%= I18n.t('janken.title') %></h1>

<%= link_to I18n.t('janken.submit'), saisho_path, class: 'btn btn-info btn-saisho',remote: true %>

<div class="x">
  <%= link_to "https://twitter.com/share?url=#{request.original_url}&text=#{I18n.t('janken.title')}", target: "_blank" do %>
    <i class="fab fa-twitter"></i>Xでシェア
  <% end %>
</div>
