<div class="choice">あなたの選択: <%= @user_icon.html_safe %></div>
<div class="choice">CPUの選択: <%= @cpu_icon.html_safe %></div>

<% if @user_choice == @cpu_choice %>
  <%= link_to 'しょうぶあり!', root_path, method: :post, remote: true, class: 'btn btn-info btn-sa' %>
<% else %>
  <%= link_to 'さいしょから', janken_path, method: :post, remote: true, class: 'btn btn-info btn-sa' %>
<% end %>
