<h1>あなたの選択: <%= @user_icon.html_safe %></h1>
<h1>CPUの選択: <%= @cpu_icon.html_safe %></h1>

<% if @user_choice == @cpu_choice %>
  <%= link_to '勝負あり！', root_path, method: :post, remote: true, class: 'btn btn-info btn-shobu' %>
<% else %>
  <%= link_to 'あっちむいて！', game_atti_path, method: :post, remote: true, class: 'btn btn-info btn-atti' %>
<% end %>
